* {
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width:400px) {
    body{
        flex-direction: row;
    }
    .navbar{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    
    
}

body {
    background:black;
    height: auto;
    max-width: 100%;

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 50px;
    width: 100%;
    /* padding: 10px; */
    /* this was giving overflow */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    z-index: 2;
    border: 50px;
}

.urban {
    height: 600px;
    width: 100%;
    background-image: url('urban.png');
   background-size: cover;
   background-position: center; 
}

nav{
    height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    position: fixed;
    gap: 120px;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(to right, rgb(77, 10, 116), red,black);
}

.navbar::after {
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    border: 50px;
    background: linear-gradient(to right, white, blue, purple);
}

.unorder {
    height: 600px;
    width: 400px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home {
    color:black;
    font-size: 25px;
    display: flex;
    margin: 2px 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    z-index: 0;
     background: linear-gradient(to right,white,rgb(83, 83, 177));
      animation: glo 1s infinite ease-in;
      border-width: 50px;
    border: 20px;
    padding: 10px;
    border-radius:10px ;
}
.Home:hover {
     color: black;
     font-size:30px;
     font-weight: bold;
    border-width: 50px;
    border: 20px;
    padding: 10px;
    border-radius:10px ;
    background: linear-gradient(to right,white,purple);
    text-decoration: underline; 
    z-index: 0;
    animation: glo 1s infinite ease-in;
}

.z-col {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
     background-color: white; 
}

.z-row {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

  
}

.container {
    height: 400px;
    width: 500px;
    position:absolute;
    left: 0;
    background-image: url(girl_head.jpg);
    background-size: cover;
    background-position: left;
}
.container_1{
     height: 400px;
    width: 500px;
    position:absolute;
    right: 0;
    background-image: url(red_bud.jpg);
    background-size: cover;
    background-position: left;
}

.paragraph{
    height: 400px;
    width: 800px;
    border-radius: 9px;
    background-color: black;
    color: white;
    position: absolute;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.paragraph_1 {
    height: 400px;
    width: 800px;
     border-radius: 9px;
   background-color: black;
    color: white;
    position: absolute;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
#girl_par{
    font-size: 20px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#girl_par1{
    font-size: 20px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.z-row_1{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.images{
    /* background-color:white; */
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
     transition: height 1s  ease-out;
     transition: width 1s ease-out; 
     animation: glo 3s infinite ease-in;
}
.glo::after{
    content:"";
    height:calc(100% + 10px);
    width: calc(100% + 20px);
    position: absolute;
    background: linear-gradient(to right,white,rgb(42, 42, 214));
   border-radius: 100px;
    border:none;
    z-index: -1;
    top: -10px;
    left: -10px;
    animation: glow 3s infinite ease-in;
}
@keyframes glo{
    0%{
        filter: hue-rotate(90deg);
        transform: scale(1.01);
    }
     50%{
        filter:hue-rotate(180deg);
        transform: scale(1.01);
    }
     100%{
        filter: hue-rotate(360deg);
        transform: scale(1.01);
    }
}
.images:hover{
animation: glowing 2s infinite ease-in-out alternate;
}  
@keyframes glowing{
    0%{
        filter: hue-rotate(90deg);
        transform: scale(1.01);
    }
     50%{
        filter:hue-rotate(180deg);
        transform: scale(1.05);
    }
     100%{
        filter: hue-rotate(360deg);
        transform: scale(1.01);
    }
}
.discount{
    height: 30px;
    width: 200px;
    border: 2px black solid;
    border-radius: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 250px;
    width: 300px;
    padding: 20px;
    border-radius: 100px;
}
.buy{
    height: 30px;
    width: 150px;
    border-radius: 500px;
    font-weight: bold;
    color: white;
    background-color: black;
    transition-property:all;
     transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.buy:hover{
    border-radius: 500px;
    height:45px ;
    font-size: 20px;
    width: 200px;
    color: white;
    background-color:black;
}
.row{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    
}
.col{
    top: 20px;
    height:auto;
    width: 100%;
    padding-top: 100px;
}